.post-list-container {
    padding: 20px;
}

.post-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative; /* For positioning the icons */
}

.create-post-link {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.create-post-link:hover {
    background-color: green; 
}


.post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 10px;
}

.post-date {
    font-size: 0.9rem;
    color: hsl(0, 0%, 40%);
    margin-bottom: 10px;
}

.post-globe-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #007bff;
}

.post-globe-icon:hover {
    color: orangered;
}

.post-actions {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 5px;
}

.post-action-link,
.post-action-button {
    background: none;
    border: none;
    cursor: pointer;
    
    font-size: 1.2rem;
}

.post-action-link:hover {
    color: rgb(14, 14, 14); 
}

.post-action-button:hover {
    color: rgb(6, 6, 6); 


}
.title_delete{
    font-weight: 600;
}

.highlight-title {
    color: green; /* Set the color of the post title to green */
}

.confirmation-input {
    width: 50vw;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}




.confirm-delete-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.cancel-delete-button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.confirm-delete-button:hover {
    background-color: #c0392b;
}

.cancel-delete-button:hover {
    background-color: #2980b9;
}



.error-message{
    color: red;
}